* {
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  body {
    font-family: Vazirmatn;
    direction: rtl;
    margin: 0;
  }
  .container {
    /* max-width: 1200;
    margin: 0 auto; */
    padding: 0px 40px;
  }
  a {
    text-decoration: none;
  }
  header {
    padding: 24 0px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0%;
    background: #fff;
  }
  #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .right a {
    color: #143953;
    font-size: ;
    font-family: ;
  }
  #header .left {
    display: flex;
  }
  #header .left a {
    text-decoration: none;
    display: block;
    padding: 2px 8px;
    color: #3acec2;
  }
  #confectionery {
    background: #3acec2;
    text-align: center;
    padding: 110px 0 24px 0;
  }
  #confectionery img {
    width: 180px;
    height: auto;
  }
  #confectionery h1,
  #confectionery span {
    color: #fff;
  }
  #content {
    display: flex;
    /* gap: 24px; */
    margin-top: 24px;
  }
  #content .item {
    width: 33.33%;
    padding-left: 24px;
  }
  #content .item h3 {
    color: #143953;
  }
  .relative {
    position: relative;
  }
  #content .item .absolute {
    padding: 0 8px 8px 4px;
    background: rgba(20, 57, 83, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #content .item .absolute h4 {
    margin: 8px 0 8px 0;
  }
  #content .item .absolute h4,
  #content .item .absolute span {
    color: #fff;
  }
  #footer {
    text-align: center;
    background: #dedede;
    padding: 24px 0;
  }
  @media only screen and (max-width:1100px){
      .container{
          padding: 0 32px;
      }
      #content{
          flex-wrap: wrap;
      }
      #content .item:nth-child(1){
          width: 50%;
      } 
      #content .item:nth-child(2){
          width: 50%;
          padding-left: 0;
      }
      #content .item:nth-child(3){
          width: 100%;
      }
    }
    @media only screen and (max-width:600px){
      .container{
          padding: 0 16px;
      }
      header{
          padding: 16px 0;
      }
      #header{
          flex-direction: column;
          gap: 12px;
      }
      .container #content .item{
        width: 100%;
      }
      #content{
          flex-wrap: wrap;
      }
    }
  }